<html>
<head>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" sizes="16x16"   type="image/png" href="/favicon-16x16.png" />
    <link rel="icon" sizes="24x24"   type="image/png" href="/favicon-24x24.png" />
</head>
<body>
	<form method="post" action="<%=baseUrl%>">
	<input type="hidden" name="row[id]" value="<%=row.id%>">
	<table border="1">
		<tr>
			<th>id</th>
			<th><%=_.get(row,"id")%></th>
		</tr>
<% _.each(fields, function(field,key){%>
		<tr>
			<th><%=key%></th>
			<th><%-renderEdit (row, key)%></th>
		</tr>		
<%})%>
	</table>
	<input type="submit" value="save">
	</form>
</body>
</html>