<html>
<head>
    <script src="/bower/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="/includes/header.html">
</head>
<body>
	 <x-menu></x-menu>
	<form method="post" action="<%=baseUrl%>">
	<input type="hidden" name="row[id]" value="<%=row.id%>">
	<table class="table table-striped">
		<tr>
			<th>id</th>
			<td><%=_.get(row,"id")%></td>
		</tr>
<% _.each(fields, function(field,key){%>
		<tr>
			<th><%=key%></th>
			<td><%-renderEdit (row, key)%></td>
		</tr>		
<%})%>
	</table>
	<input type="submit" value="save" class="btn btn-success">
	</form>
</body>
</html>