<html>
<head>
</head>
<body>
<table border=1>
	<thead>
		<tr>
			<th>id</th>
<% _.each(fields, function(field,key){%>
			<th><%=key%></th>	
<%})%>
			<th>Created On</th>
			<th>Updated On</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
<% _.each(rows, function(row){%>	
		<tr>
			<td>
                <a href="<%=baseUrl + '/' + row.id%>">id</a>
            </td>
<% _.each(fields, function(field,key){%>
			<td><%-renderView(_.get(row,key), field)%></td>
<%})%>		
			<td><%=renderView(row.createdOn,'date')%></td>
			<td><%=renderView(row.updatedOn,'date')%></td>
			<td>
				<a href="<%=baseUrl + '/' + row.id%>">edit</a> |
				<a href="<%=baseUrl + '/' + row.id%>/delete">delete</a>
			</td>
		</tr>
<%})%>		
	</tbody>
</table>
<a href="<%=baseUrl%>/new">Add new</a>
</body>
</html>