<html>
<head>
	<title>Tasks</title>
    <script src="/bower/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="/includes/header.html">
</head>
<body>
 <x-menu></x-menu>
<table class="table table-striped">
	<thead>
		<tr>
			<th>id</th>
<% _.each(fields, function(field,key){%>
			<th><%=key%></th>	
<%})%>
			<th>Created On</th>
			<th>Updated On</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
<% _.each(rows, function(row){%>	
		<tr>
			<td>
                <a href="<%=baseUrl + '/' + row.id%>">id</a>
            </td>
<% _.each(fields, function(field,key){%>
			<td><%-renderView(_.get(row,key), field)%></td>
<%})%>		
			<td><%=renderView(row.createdOn,'date')%></td>
			<td><%=renderView(row.updatedOn,'date')%></td>
			<td>
				<a href="<%=baseUrl + '/' + row.id%>">edit</a> |
				<a href="<%=baseUrl + '/' + row.id%>/delete">delete</a>
			</td>
		</tr>
<%})%>	
    <tr>
           <td></td>
<% _.each(fields, function(field,key){%>
            <td><b><%= field.meta.type=="number" ? _.sumBy(rows, row => {return Number(row[key])}) : ''%></b></td>
<%})%>           
           <td colspan="4"></td>
    </tr>
	</tbody>
</table>
<a href="<%=baseUrl%>/new" class="btn btn-success">Add new</a>
</body>
</html>