<html>
<head>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" sizes="16x16"   type="image/png" href="/favicon-16x16.png" />
    <link rel="icon" sizes="24x24"   type="image/png" href="/favicon-24x24.png" />
</head>
<body>
<table border=1>
	<thead>
		<tr>
			<th>id</th>
<% _.each(fields, function(field,key){%>
			<th><%=key%></th>	
<%})%>
			<th>Created On</th>
			<th>Updated On</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
<% _.each(rows, function(row){%>	
		<tr>
			<td>
                <a href="<%=baseUrl + '/' + row.id%>">id</a>
            </td>
<% _.each(fields, function(field,key){%>
			<td><%-renderView(_.get(row,key), field)%></td>
<%})%>		
			<td><%=renderView(row.createdOn,'date')%></td>
			<td><%=renderView(row.updatedOn,'date')%></td>
			<td>
				<a href="<%=baseUrl + '/' + row.id%>">edit</a> |
				<a href="<%=baseUrl + '/' + row.id%>/delete">delete</a>
			</td>
		</tr>
<%})%>	
    <tr>
           <td></td>
<% _.each(fields, function(field,key){%>
            <td><b><%= field.meta.type=="number" ? _.sumBy(rows, row => {return Number(row[key])}) : ''%></b></td>
<%})%>           
           <td colspan="4"></td>
    </tr>
	</tbody>
</table>
<a href="<%=baseUrl%>/new">Add new</a>
</body>
</html>